body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u179 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
}
#u180 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u181 {
  position:absolute;
  left:35px;
  top:34px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
}
#u183 {
  position:absolute;
  left:75px;
  top:35px;
  width:175px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:507px;
}
#u185 {
  position:absolute;
  left:-1px;
  top:64px;
  width:321px;
  height:506px;
}
#u186 {
  position:absolute;
  left:2px;
  top:245px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u187 {
  position:absolute;
  left:18px;
  top:33px;
  width:9px;
  height:15px;
}
#u188 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:15px;
  top:33px;
  width:50px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u190 {
  position:absolute;
  left:0px;
  top:352px;
  width:320px;
  height:216px;
}
#u191 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u193 {
  position:absolute;
  left:0px;
  top:519px;
  width:320px;
  height:50px;
}
#u194 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:31px;
}
#u195 {
  position:absolute;
  left:20px;
  top:529px;
  width:240px;
  height:30px;
}
#u196 {
  position:absolute;
  left:2px;
  top:7px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:27px;
  top:531px;
  width:230px;
  height:26px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:26px;
  background-color:#CACACA;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u198 {
  position:absolute;
  left:272px;
  top:535px;
  width:30px;
  height:18px;
  color:rgba(102, 102, 102, 0.349019607843137);
}
#u198_img.selected {
}
#u198.selected {
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
