body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:45px;
}
#u179 {
  position:absolute;
  left:1px;
  top:0px;
  width:319px;
  height:44px;
}
#u180 {
  position:absolute;
  left:2px;
  top:14px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u181 {
  position:absolute;
  left:36px;
  top:14px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u182 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:20px;
}
#u183 {
  position:absolute;
  left:74px;
  top:13px;
  width:174px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:505px;
}
#u185 {
  position:absolute;
  left:0px;
  top:44px;
  width:320px;
  height:504px;
}
#u186 {
  position:absolute;
  left:2px;
  top:244px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u187 {
  position:absolute;
  left:19px;
  top:15px;
  width:9px;
  height:15px;
}
#u188 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189 {
  position:absolute;
  left:16px;
  top:13px;
  width:50px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:215px;
}
#u190 {
  position:absolute;
  left:1px;
  top:331px;
  width:319px;
  height:215px;
}
#u191 {
  position:absolute;
  left:2px;
  top:100px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:51px;
}
#u193 {
  position:absolute;
  left:1px;
  top:497px;
  width:319px;
  height:50px;
}
#u194 {
  position:absolute;
  left:2px;
  top:17px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:31px;
}
#u195 {
  position:absolute;
  left:21px;
  top:507px;
  width:239px;
  height:30px;
}
#u196 {
  position:absolute;
  left:2px;
  top:7px;
  width:235px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197 {
  position:absolute;
  left:28px;
  top:509px;
  width:229px;
  height:26px;
}
#u197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:26px;
  background-color:#CACACA;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u198 {
  position:absolute;
  left:272px;
  top:513px;
  width:29px;
  height:16px;
  color:rgba(102, 102, 102, 0.349019607843137);
}
#u198_img.selected {
}
#u198.selected {
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  word-wrap:break-word;
}
