body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:319px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-color:rgba(16, 126, 211, 1);
  background-image:none;
}
#u1_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u4 {
  position:absolute;
  left:0px;
  top:20px;
  width:320px;
  height:44px;
}
#u5 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u6 {
  position:absolute;
  left:35px;
  top:34px;
  width:30px;
  height:18px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
}
#u8 {
  position:absolute;
  left:66px;
  top:30px;
  width:175px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:507px;
}
#u10 {
  position:absolute;
  left:-1px;
  top:64px;
  width:321px;
  height:506px;
}
#u11 {
  position:absolute;
  left:2px;
  top:245px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:36px;
}
#u12 {
  position:absolute;
  left:-1px;
  top:94px;
  width:321px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u14 {
  position:absolute;
  left:15px;
  top:102px;
  width:21px;
  height:21px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u16 {
  position:absolute;
  left:46px;
  top:105px;
  width:59px;
  height:18px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:36px;
}
#u18 {
  position:absolute;
  left:-1px;
  top:159px;
  width:321px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u20 {
  position:absolute;
  left:15px;
  top:168px;
  width:21px;
  height:21px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
}
#u22 {
  position:absolute;
  left:46px;
  top:170px;
  width:59px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:36px;
}
#u24 {
  position:absolute;
  left:-1px;
  top:224px;
  width:321px;
  height:35px;
}
#u25 {
  position:absolute;
  left:2px;
  top:10px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u26 {
  position:absolute;
  left:15px;
  top:231px;
  width:21px;
  height:21px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:19px;
}
#u28 {
  position:absolute;
  left:46px;
  top:233px;
  width:30px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u30 {
  position:absolute;
  left:300px;
  top:237px;
  width:6px;
  height:10px;
}
#u31 {
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:11px;
}
#u32 {
  position:absolute;
  left:299px;
  top:174px;
  width:6px;
  height:10px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-3px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:16px;
}
#u34 {
  position:absolute;
  left:18px;
  top:33px;
  width:9px;
  height:15px;
}
#u35 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:15px;
  top:33px;
  width:50px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
