body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:320px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u0 {
  position:absolute;
  left:0px;
  top:498px;
  width:320px;
  height:50px;
}
#u1 {
  position:absolute;
  left:2px;
  top:17px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u3 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u4 {
  position:absolute;
  left:15px;
  top:13px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:20px;
}
#u6 {
  position:absolute;
  left:68px;
  top:10px;
  width:175px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8 {
  position:absolute;
  left:285px;
  top:12px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:44px;
}
#u10_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:358px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:357px;
}
#u12 {
  position:absolute;
  left:2px;
  top:170px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:101px;
}
#u13 {
  position:absolute;
  left:0px;
  top:357px;
  width:320px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:79px;
}
#u15 {
  position:absolute;
  left:8px;
  top:367px;
  width:95px;
  height:78px;
  color:#9C9C9C;
}
#u16 {
  position:absolute;
  left:2px;
  top:31px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:78px;
}
#u17 {
  position:absolute;
  left:112px;
  top:369px;
  width:95px;
  height:77px;
  color:#D4C5A6;
}
#u18 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:78px;
}
#u19 {
  position:absolute;
  left:215px;
  top:369px;
  width:95px;
  height:77px;
}
#u20 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u21 {
  position:absolute;
  left:33px;
  top:385px;
  width:46px;
  height:46px;
}
#u22 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u23 {
  position:absolute;
  left:133px;
  top:385px;
  width:46px;
  height:46px;
  color:#000000;
}
#u24 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u25 {
  position:absolute;
  left:240px;
  top:385px;
  width:46px;
  height:46px;
  color:#000000;
}
#u26 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u27 {
  position:absolute;
  left:137px;
  top:156px;
  width:46px;
  height:46px;
}
#u28 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u10_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:358px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:357px;
}
#u30 {
  position:absolute;
  left:2px;
  top:170px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:21px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:202px;
  touch-action:none;
}
#u33_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u33_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u35 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u33_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:45px;
}
#u37 {
  position:absolute;
  left:2px;
  top:14px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u38 {
  position:absolute;
  left:50px;
  top:0px;
  width:41px;
  height:41px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u40 {
  position:absolute;
  left:136px;
  top:0px;
  width:41px;
  height:41px;
}
#u41 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u42 {
  position:absolute;
  left:93px;
  top:0px;
  width:41px;
  height:41px;
}
#u43 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u44 {
  position:absolute;
  left:179px;
  top:0px;
  width:41px;
  height:41px;
}
#u45 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u46 {
  position:absolute;
  left:222px;
  top:0px;
  width:41px;
  height:41px;
}
#u47 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u48 {
  position:absolute;
  left:265px;
  top:0px;
  width:41px;
  height:41px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u51 {
  position:absolute;
  left:0px;
  top:345px;
}
#u51_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:101px;
}
#u52 {
  position:absolute;
  left:0px;
  top:12px;
  width:320px;
  height:100px;
}
#u53 {
  position:absolute;
  left:2px;
  top:42px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:79px;
}
#u54 {
  position:absolute;
  left:8px;
  top:22px;
  width:95px;
  height:78px;
  color:#9C9C9C;
}
#u55 {
  position:absolute;
  left:2px;
  top:31px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:78px;
}
#u56 {
  position:absolute;
  left:112px;
  top:24px;
  width:95px;
  height:77px;
  color:#D4C5A6;
}
#u57 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:78px;
}
#u58 {
  position:absolute;
  left:215px;
  top:24px;
  width:95px;
  height:77px;
}
#u59 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u60 {
  position:absolute;
  left:33px;
  top:40px;
  width:46px;
  height:46px;
}
#u61 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u62 {
  position:absolute;
  left:133px;
  top:40px;
  width:46px;
  height:46px;
  color:#000000;
}
#u63 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u64 {
  position:absolute;
  left:240px;
  top:40px;
  width:46px;
  height:46px;
  color:#000000;
}
#u65 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u66 {
  position:absolute;
  left:283px;
  top:0px;
  width:27px;
  height:27px;
}
#u67 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u68 {
  position:absolute;
  left:8px;
  top:-5px;
  width:27px;
  height:27px;
}
#u69 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u51_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:101px;
}
#u70 {
  position:absolute;
  left:0px;
  top:12px;
  width:112px;
  height:100px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:79px;
}
#u72 {
  position:absolute;
  left:8px;
  top:22px;
  width:95px;
  height:78px;
  color:#9C9C9C;
}
#u73 {
  position:absolute;
  left:2px;
  top:31px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u74 {
  position:absolute;
  left:33px;
  top:40px;
  width:46px;
  height:46px;
}
#u75 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u76 {
  position:absolute;
  left:76px;
  top:0px;
  width:27px;
  height:27px;
}
#u77 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u78 {
  position:absolute;
  left:8px;
  top:0px;
  width:27px;
  height:27px;
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:275px;
  top:412px;
  width:46px;
  height:46px;
  overflow:hidden;
  visibility:hidden;
  touch-action:none;
}
#u80_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u80_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u82 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u83 {
  position:absolute;
  left:15px;
  top:510px;
  width:27px;
  height:27px;
}
#u84 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u85 {
  position:absolute;
  left:68px;
  top:510px;
  width:27px;
  height:27px;
}
#u86 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u87 {
  position:absolute;
  left:119px;
  top:510px;
  width:27px;
  height:27px;
}
#u88 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u89 {
  position:absolute;
  left:228px;
  top:510px;
  width:27px;
  height:27px;
}
#u90 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u91 {
  position:absolute;
  left:277px;
  top:510px;
  width:27px;
  height:27px;
}
#u92 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u93 {
  position:absolute;
  left:172px;
  top:510px;
  width:27px;
  height:27px;
}
#u94 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
  overflow:hidden;
  visibility:hidden;
}
#u95_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u95_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:569px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  opacity:0.8;
}
#u97 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:61px;
}
#u99 {
  position:absolute;
  left:20px;
  top:234px;
  width:280px;
  height:60px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
}
#u100 {
  position:absolute;
  left:2px;
  top:22px;
  width:276px;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u101 {
  position:absolute;
  left:160px;
  top:295px;
  width:140px;
  height:40px;
  color:#ED454C;
}
#u102 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u103 {
  position:absolute;
  left:20px;
  top:295px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#107ED3;
}
#u104 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u105 {
  position:absolute;
  left:20px;
  top:295px;
  width:280px;
  height:1px;
}
#u106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u107 {
  position:absolute;
  left:160px;
  top:295px;
  width:1px;
  height:40px;
}
#u108 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u95_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:568px;
  opacity:0.5;
}
#u110 {
  position:absolute;
  left:2px;
  top:276px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:81px;
}
#u112 {
  position:absolute;
  left:20px;
  top:234px;
  width:280px;
  height:80px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  line-height:14px;
}
#u113 {
  position:absolute;
  left:10px;
  top:-2px;
  width:260px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u114 {
  position:absolute;
  left:160px;
  top:314px;
  width:140px;
  height:40px;
  color:#107ED3;
}
#u115 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:41px;
}
#u116 {
  position:absolute;
  left:20px;
  top:314px;
  width:140px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#107ED3;
}
#u117 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u118 {
  position:absolute;
  left:20px;
  top:316px;
  width:280px;
  height:1px;
}
#u119 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:38px;
}
#u120 {
  position:absolute;
  left:159px;
  top:317px;
  width:1px;
  height:37px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u95_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:568px;
  opacity:0.5;
}
#u123 {
  position:absolute;
  left:2px;
  top:276px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:81px;
}
#u125 {
  position:absolute;
  left:20px;
  top:234px;
  width:280px;
  height:80px;
  line-height:14px;
}
#u126 {
  position:absolute;
  left:10px;
  top:5px;
  width:260px;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:41px;
}
#u127 {
  position:absolute;
  left:20px;
  top:314px;
  width:280px;
  height:40px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#107ED3;
}
#u128 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:2px;
}
#u129 {
  position:absolute;
  left:20px;
  top:316px;
  width:280px;
  height:1px;
}
#u130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:549px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u95_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u131 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:568px;
  opacity:0.8;
}
#u132 {
  position:absolute;
  left:2px;
  top:276px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u134 {
  position:absolute;
  left:10px;
  top:508px;
  width:300px;
  height:50px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:16px;
  color:#107ED3;
}
#u135 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u136 {
  position:absolute;
  left:10px;
  top:448px;
  width:300px;
  height:50px;
  font-size:16px;
  color:#107ED3;
}
#u137 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u138 {
  position:absolute;
  left:10px;
  top:398px;
  width:300px;
  height:50px;
  font-size:16px;
  color:#107ED3;
}
#u139 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u140 {
  position:absolute;
  left:10px;
  top:348px;
  width:300px;
  height:50px;
  font-size:16px;
  color:#107ED3;
}
#u141 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:51px;
}
#u142 {
  position:absolute;
  left:10px;
  top:299px;
  width:300px;
  height:50px;
  font-size:16px;
  color:#107ED3;
}
#u143 {
  position:absolute;
  left:2px;
  top:16px;
  width:296px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:31px;
}
#u144 {
  position:absolute;
  left:10px;
  top:268px;
  width:300px;
  height:30px;
  font-family:'Arial Black', 'Arial';
  font-weight:900;
  font-style:normal;
  font-size:12px;
  color:#D2D2D2;
}
#u145 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
